<h2 class="text-center"> All Available Fields </h2>
<div class="logo_sections">
  <div class="center">
    <div class="row">

      <% @fields.each do |field| %>
        <div class="col-md-4">
          <%= link_to field do %>
            <%= image_tag field.avatar.url(:medium) %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>