<div class="logo_sections">
  <div class="center">
    <div class="row">

      <% @fields.each do |field| %>
        <div class="col-md-4">
          <a href= '/pages/info' >
          <h4><%= field.max_people %></h4>
          </a>
        </div>
      <% end %>

    </div>
  </div>
</div>