<div class="logo_sections">
  <div class="center">
    <div class="row">

      <div class="col-md-4">
        <h3>Midtown Indoor Soccer</h3>
        <%= image_tag 'midtown.jpg', height: '200px' %>
      </div>

      <div class="col-md-4">
        <h3>WynWood Soccer</h3>
        <%= image_tag 'wynwood.jpg', height: '200px' %>
      </div>

      <div class="col-md-4">
        <h3>Soccer Town</h3>
        <%= image_tag 'soccertown.jpg', height: '200px' %>
      </div>

    </div>
  </div>
</div>