<div class="logo_sections">
  <div class="center">
    <div class="row">

      <% @clients.each do |client| %>
        <div class="col-md-4">
          <a href= '/pages/fields' >
          <h4><%= client.name %></h4>
          </a>
        </div>
      <% end %>

    </div>
  </div>
</div>




