<div class="text-center"> 
  <h2> Welcome to Field Menu </h2>
  <h6> Select where you wish to play from the business below </h6>
</div>
<hr>

<div class="logo_sections">
  <div class="container">
    <div class="row">

      <% @clients.each do |client| %>
        <div class="col-md-4">
          <%= link_to client do %>
            <%= image_tag client.avatar.url(:medium) %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>




