<div class="logo_sections">
  <div class="center">
    <div class="row">

      <div class="col-md-4">
        <h3>Mikes</h3>
      </div>

      <div class="col-md-4">
        <h3>Wynwood</h3>
      </div>

      <div class="col-md-4">
        <h3>Aventura</h3>
      </div>

    </div>
  </div>
</div>