<div class="logo_sections">
  <div class="center">
    <div class="row">

      <% @clients.each do |client| %>
        <div class="col-md-4">
          <%= link_to "#{client.name}", client %>
        </div>
      <% end %>

    </div>
  </div>
</div>




